AUTH_TRUST_HOST=true
AUTH_SECRET=<32 character string>

PUBLIC_URL = "your public url"

# //https://console.cloudinary.com/settings/c-43befaef98cea618aa276225b7d7e5/api-keys
CLOUDINARY_CLOUD_NAME="your cloud name"
CLOUDINARY_API_KEY="your api key"
CLOUDINARY_API_SECRET="your api secret"


ASTRO_DB_REMOTE_URL="your remote url"
ASTRO_DB_APP_TOKEN="your app token"